<section class="people">
	<div class="wrapper">

		<div class="people-title">
	    	<h2 class="text-center-align">Todas as mulheres do CIn-UFPE fazem parte do CIntia!</h2>
	    	<p class="text-center-align">Para um Centro com mais excelência e para um mundo melhor para as mulheres!</p>
  		</div>

  		<div class="wrapper-flex people-lists">
			<div class="people-list">
				<img class="people-list--img" src="./assets/conselheiras/alessandra_aleluia_alves.png">
				<h4>Alessandra Aleluia Alves</h4>
				<p class="people-list--title">Conselheira</p>
				<p class="people-list--description">"<i>O Cintia para mim é uma das grandes oportunidades de fazer a diferença no mundo! Encontrei, conheci e me tornei amiga de mulheres maravilhosas através da nossa comunidade. Participei e organizei ações que me deixam muito orgulhosa. Aprendi bastante e continuo me desenvolvendo enquanto mulher e profissional. É uma experiência incrível e transformadora, minha vida - não apenas a acadêmica - não seria a mesma sem o Cintia.</i>"</p>
			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/conselheiras/carolina_berrafato.jpg">
  				<h4>Carolina Berrafato</h4>
  				<p class="people-list--title">Conselheira</p>
  				<p class="people-list--description">"<i>Além de me conectar a muitas outras tech girls, foi o Cintia que me proporcionou a oportunidade de palestrar pela primeira vez. Ter acesso a oportunidades desse tipo em um espaço em que me sinto encorajada e acolhida é o que mais me motiva a me envolver nas ações do projeto, e a contribuir para que outras mulheres possam experienciar o mesmo crescimento (e se possível mais) que eu tive acesso na área de tecnologia. <3</i>"</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/conselheiras/mercia_lima.jpg">
  				<h4>Mércia Lima</h4>
  				<p class="people-list--title">Conselheira</p>
  				<p class="people-list--description">"<i>Como Doutoranda do CIn, eu encontrei no CINTIA uma rede que acolhe, conecta e fortalece mulheres. Ser Conselheira me inspira a ir além e a contribuir para que mais mulheres se reconheçam como protagonistas na Ciência, Tecnologia, Inovação e Empreendedorismo!💜</i>"</p>
  			</div>
  		</div>

	</div>
</section>